<?xml version="1.0"?>

<!--
  This is an example of the config settings need to get started with the 
  Amazon DynamoDB session provider. This file is just for reference and
  can be deleted.
  
  If your application is configuring the credentials in the appSettings
  section and you want to use that same account for the session provider you
  can remove the credentials-related attributes.
  -->

<configuration>

  <system.web>
    <sessionState
      mode="Custom"
      customProvider="DynamoDBSessionStoreProvider">
      <providers>
        <add name="DynamoDBSessionStoreProvider"
          type="Amazon.SessionProvider.DynamoDBSessionStateStore, AWS.SessionProvider"
          AWSProfileName="AWS Default"
          AWSProfilesLocation=".aws/credentials"
          Table="ASP.NET_SessionState"
          Region="us-east-1"
          />
      </providers>
    </sessionState>

  </system.web>

</configuration>